@font-face {
  font-family: "Source Sans Pro";
  src: url("SourceSansPro-Regular.ttf");
  font-weight: 300;
}
@font-face {
  font-family: "Source Sans Pro";
  src: url("SourceSansPro-Bold.ttf");
  font-weight: 700;
}

html,
body {
  margin: 0;
  padding: 20px 0;
  font-family: "Source Sans Pro", sans-serif;
  background-color: #ededed;
  box-sizing: border-box;
  user-select: none;
}
.general-container {
  width: 375px;
  margin: 0 auto;
  background: #fff;
  padding: 1px 0;
}
.header-container {
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #c6c6c6;
}

/* GENERAL TYPOGRAPHY */
h1 {
  color: #000;
  font-size: 13px;
  font-family: Source Sans Pro;
}
p {
  color: #000;
  font-size: 12px;
  font-family: Source Sans Pro;
}
.bold {
  font-weight: 700;
}
.avatar {
  width: 34px;
  align-self: center;
  border-radius: 50%;
}

/* HEADER */
.logo {
  width: 127px;
}

/* MAIN PART */
main {
  padding-bottom: 25px;
  background-color: #ededed;
}
.main-header {
  padding: 10px;
  display: flex;
}
.avatar-text {
  padding-left: 7px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.avatar-text h1 {
  margin: 0;
  padding: 0;
}
.avatar-text p {
  margin: 0;
}
.selfie {
  width: 100%;
}
.icons-section {
  padding: 20px 10px 0;
}
.icons-section img {
  width: 28px;
  margin-right: 10px;
}
.icons-section img:hover {
  opacity: 0.5;
}
.comments p {
  padding: 0 4px;
  font-size: 13px;
  margin-top: 5px;
}
